@media (min-width: 60rem){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #Title{
        display: block;
    }
    .smallMenu{
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        padding: 0;
        margin: 1rem;
    }
    .icon{
        display: none;
    }
    main{
        margin-top:  1rem;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 1rem; 
        grid-template-areas: 
          "eventContainer heroContainer heroContainer spotlightsHolder"
          "weatherContainer heroContainer heroContainer spotlightsHolder"
          "joinContainer newReleaseContainer newReleaseContainer spotlightsHolder"; 
      }
    .heroContainer{
        grid-area: heroContainer;
    }
    .eventContainer{
        grid-area: eventContainer;
    }
    .weatherContainer{ 
    grid-area: weatherContainer;
    }
    .newReleaseContainer{
        grid-area: newReleaseContainer;
    }
    .spotlightsHolder{
        grid-area: spotlightsHolder;
    }
    .joinContainer{
        grid-area: joinContainer;
    }
    .spotlightThreeContainer{
        display: block;
    }
    .heroContainer h2{
        font-size: 1.7rem;
    }
    .heroContainer img{
        width: 100%;
        height: 100%;
    }
    .btnJoin{
        font-size: .8rem;
        padding: .6rem;
    }
}
