@media (min-width: 60rem){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #Title{
        display: block;
    }
    .smallMenu{
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        padding: 0;
        margin: 1rem;
    }
    div.iconContainer{
        display: none;
    }
    div.socialMediaContainerIcons{
        margin-right: 2rem;
    }
    .icon{
        display: none;
    }
    main div{
        margin: .3rem;
    }
    #mainHome {
        display: grid;
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(4, auto);
        }
    div.spotlightsHolder {
        grid-area: 1 / 7 / 5 / 9;
        max-height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .eventContainer {
        grid-area: 1 / 1 / 2 / 3;
    }
    .heroContainer {
        grid-area: 1 / 3 / 4 / 7;
        margin-top: 2rem;
    }
    .newReleaseContainer{
        grid-area: 4 / 3 / 5 / 7;
    }
    .weatherContainer {
        grid-area: 2 / 1 / 4 / 3;
        display: flex;
    }
    .joinContainer {
        grid-area: 4 / 1 / 5 / 3;
        display: flex;
        justify-content: space-center;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .joinContainer p, .joinContainer button{
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .btnJoinContainer{
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
        padding: .5rem 1rem;
        margin: 0 0 1rem 0;
    }
    .heroContainer h2{
        font-size: 1.5rem;
        height: 100%;
    }
    .btnJoin{
        font-size: .8rem;
        padding: .8rem;
        right: 1rem;
    }
    .imgWeather, .truck, .house{
        width: 5rem;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .eventContainer, .joinContainer{
        font-size: smaller;
    }
    /* =============spotlights container =============*/
    .spotlightCard{
        background-color: var(--fifth-color);
        border-radius: 1rem;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
        padding: 0;
        width: 95%;
        height: 100%;
        margin: 0.3rem;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .spotlightCard h2{
        font-size: 1rem;
        margin-top: .3rem;
    }
    .spotLightImgContainer {
        max-width: 60%;
    }
    div.spotLightImgContainer img {
        max-width: 90%;
        background-color: ivory;
    }
    #thirdSpotContainer{
        display: none;
    }
    .spotlightContactInformation p, .spotlightContactInformation h3 {
     margin: .6rem 0 0 0;
     font-size: 1rem;
    }
    #thirdSpotContainer{
        display: flex;
    }
    .weatherContainer{
        display: flex;
        flex-direction: column;
    }
    .titleImgWeatherContainer{
        display: flex;
    }
    .weatherContainer h2{
        margin: 0;
        font-size: 1.2rem;
    }
    .weatherImgContainer{
        max-width: 50%;
    }

    .imgWeather{
        max-width: 100%;
        border-radius: 15px 14px;
    }
    .gradesContainer{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conditionsWeather{
        text-align: end;
    }
    hr, .windConditions{
       font-size: small;
    }
    img.house, img.truck{
        max-width: 100%;
        padding: .5rem;
    }
    div.discoverContainer div p{
        margin: 1rem 3rem 0 3rem;
    }
    /* -------Form styles.------- */
    .mainForm{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }
    form{
        display: flex;
        align-items: scenter;
        justify-content: center;
        width: 100%;
        grid-column: 1 / 2;
    }
    form fieldset{
        width: 40vw;
    }
    .membershipsDescriptionContainer{
        display: none;
    }
    .thankYouh1{
        position: absolute;
        top: 7rem;
        left: 6rem;
        font-size: 3rem;
    }
    .welcomeh2{
        position: absolute;
        bottom: 10rem;
        right: 5rem;
        margin-left: 3rem;
        font-size: 2rem;
    }
    .priceMembership{
        font-weight: 700;
    }
    .membershipsDescriptionContainerLarge{
        width: 50vw;
        grid-column: 2 / 3;
        color: var(--first-color);
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 1.5rem;
        padding: 1rem;
        margin: 2.5rem 1rem 2rem 1rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 3px #3c374446;
    }
    /* ----------directory----------- */
    .mainDirectory{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contactInformationContainer {
        margin: 1rem;
    }
}