@media (min-width: 60rem){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #Title{
        display: block;
    }
    .smallMenu{
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        padding: 0;
        margin: 1rem;
    }
    .icon{
        display: none;
    }
    main div{
        margin: .3rem;
    }
    #mainHome {
        display: grid;
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(4, auto);
        }
    .spotlightsHolder {
        grid-area: 1 / 7 / 5 / 9;
        display: flex;
        flex-direction: column;
    }
    .eventContainer {
        grid-area: 1 / 1 / 2 / 3;
    }
    .heroContainer {
        grid-area: 1 / 3 / 4 / 7;
        overflow: hidden;
    }
    .newReleaseContainer{
        grid-area: 4 / 3 / 5 / 7;
    }
    .weatherContainer {
        grid-area: 2 / 1 / 4 / 3;
        display: flex;
    }
    .joinContainer {
        grid-area: 4 / 1 / 5 / 3;
    }
    .joinContainer p, .joinContainer button{
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .heroContainer h2{
        font-size: 1.5rem;
        height: 100%;
    }
    .btnJoin{
        font-size: .8rem;
        padding: .8rem;
        right: 1rem;
    }
    
    .spotlightThreeContainer{
        display: block;
    }
    .imgWeather, .truck, .house{
        width: 5rem;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .eventContainer, .joinContainer{
        font-size: smaller;
    }
    /* .spotlights container */
    .smallSpot{
        height: 33%;
        max-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .spotlightContactInformation{
        max-width: 100%;
        display: flex;
    }
    #thirdSpotContainer{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .weatherContainer{
        display: flex;
        flex-direction: column;
    }
    .titleImgWeatherContainer{
        display: flex;
        flex-wrap: nowrap;
    }
    .weatherContainer h2{
        margin: 0;
        font-size: 1.2rem;
    }
    .weatherImgContainer{
        max-width: 50%;
    }

    .imgWeather{
        max-width: 100%;
        border-radius: 15px 14px;
    }
    .gradesContainer{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conditionsWeather{
        text-align: end;
    }
    hr, .windConditions{
       font-size: small;
    }
    img.house, img.truck{
        max-width: 100%;
        padding: .5rem;
    }
    div.discoverContainer div p{
        margin: 1rem 3rem 0 3rem;
    }
    /* -------Form styles.------- */
    .mainForm{
        display: grid;
        grid-template-columns: auto;
    }
    form{
        grid-column: 1 / 13;
    }
    form fieldset{
        max-width: 40%;
    }
    .thankYouh1{
        position: absolute;
        top: 7rem;
        left: 6rem;
        font-size: 3rem;
    }
    .welcomeh2{
        position: absolute;
        bottom: 10rem;
        right: 5rem;
        margin-left: 3rem;
        font-size: 2rem;
    }
    /* ----------directory----------- */
    .mainDirectory{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}