@media(min-width: 35rem){
    body{
        max-width: 100%;
        flex-wrap: wrap;
    }
    main div{
        flex-wrap: wrap;
    }
    #mainHome{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        }
    .heroContainer {
        grid-column: 1 / span 3;
        grid-row: 1 / 2;
    }
    .newReleaseContainer { 
        grid-column: 1 / span 3;
        grid-row: 2 / 3;
    }
    .spotlightsHolder {
        grid-column: 1 / span 3;
        grid-row: 3 / 4;
    }
    .joinContainer {
        grid-column: 1 / span 3;
        grid-row: 4 / 5;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
        padding: 1rem;
    }
    .joinContainer p{
        font-size: 1.3rem;
        padding: 2rem;
        text-align: center;
    }
    .eventContainer {
        grid-column: 1 / span 2;
        grid-row: 5 / 6;
    }
    .weatherContainer {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
        
    }
    .conditionsWeatherContainer{
        display: flex;
        flex-direction: row-reverse;
    }
    .weatherImgContainer{
        width: 70%;
        padding: 0;
    }
    .heroContainer h2{
        font-size: 2rem;
    }
    .btnJoinContainer{
        max-width: 50%;
        text-align: center;
        padding: .5rem 1rem;
        background-color: var(--third-color);
        color: var(--fifth-color);
        cursor: pointer;
        border: 1px solid var(--fifth-color);
        border-radius: 2rem;
        font-size: 1.5rem;
        transition: all ease-in .5s;
    }
    .btnJoinContainer:hover{
        transform: scale(1.005);
        transition: all ease-in .3s;
        background-color: var(--fifth-color);
        color: var(--first-color);
        border: solid 1px var(--first-color);
    }
    /* ======================================== */
    .spotlightsHolder{
        max-height: 45vh;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
    }
    .spotlightCard{
        background-color: var(--fifth-color);
        border-radius: 1rem;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
        padding: .5rem 0 0 0;
        width: 48%;
        height: 100%;
        margin: .5rem .3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;

    }
    .spotLightImgContainer {
        max-width: 90%;
    }
    .spotLightImgContainer img {
        max-width: 70%;
        background-color: ivory;
    }
    #thirdSpotContainer{
        display: none;
    }
    .spotlightContactInformation p, .spotlightContactInformation h3 {
     margin: .6rem 0 0 0;
    }
    /* ====================================== */
/*     .mediumSpotLight{
    }

    .mediumSpotLight img{
    }
    .mediumSpotLight p{
    }
    .spotlightContactInformation p{
    } */
    /* discoverPage */
    .imgDiscoverContainer{
        transition: ease 1s;
    }
    .imgDiscoverContainer:hover{
        transform: scale(1.03);
        transition: ease 1s;
        border-radius: 50%;
    }
    .discoverContainer{
        margin-bottom: 1rem;
    }
/* --------------form section---------- */    
    .thankYouh1{
        position: absolute;
        top: 5rem;
        left: 4rem;
        font-size: 2.5rem;
    }
    .welcomeh2{
        position: absolute;
        bottom: 4rem;
        right: 2rem;
        margin-left: 3rem;
        font-size: 1.8rem;
    }
    /* ----------directory----------- */
    .mainDirectory{
        display: grid;
        grid-template-columns: auto auto;
    }
    .cardList{
        box-shadow: 1px 3px var(--first-color);
        min-height: 1rem;
        padding-bottom: 0;
    }
    .cardList:nth-child(odd){
        background-color: var(--fourth-color);
        color: white;
    }
    .cardList div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cardDirectory:hover a, .cardList:hover a{
        font-size: 1.6rem;
        transition: .4s;
    }
}