:root{
    --first-color: #3C3744;
    --second-color: #090C9B;
    --third-color: #3066BE;
    --fourth-color: #B4C5E4;
    --fifth-color: #FBFFF1;
    --primary-font: 'Bellefair', serif;
    --secondary-font: 'Comfortaa', cursive;
    --terciary-font: 'Zen Maru Gothic', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: var(--second-font), sans-serif;
    color: var(--first-color);
    max-width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}
header{
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}
header div > *{
    color: var(--fifth-color);
}
body{
    background-color: var(--fifth-color);
    margin: 0;
}
footer{
    background-color: var(--first-color);
    color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
nav ul *{
    overflow: hidden;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 0;
    margin: 1rem;
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav ul li{
    margin: .5rem;
}
nav ul li a{
    color: var(--fifth-color);
}
nav ul li a{
    padding: .5rem;
}
nav ul li a:hover{
    color: var(--first-color);
    font-size: smaller;
    transition: ease .6s;
}
nav ul li a:not(:hover){
    transition: ease 2s;
}
/* nav ul li:active a{
    background-color: #090C9B;
} */
img{
    width: 100%;
}
main img{
    max-width: 50%;
    background-color: var(--first-color);
}
.logoContainer{
    width: 90px;
    padding: 1rem;
    margin: .5rem;
}
.sitePurpose{
    margin: 2rem 0rem 0rem;
}
footer p{
    margin: 1rem;
    color: var(--fifth-color);
}

.colors{
    text-align: center;
    margin: .5rem;
    padding: 1rem;
    border: solid var(--first-color) 1px;
}
.color1{
    background-color: var(--first-color);
    color: var(--fifth-color);
}
.color2{
    background-color: var(--second-color);
    color: var(--fifth-color);
}
.color3{
    background-color: var(--third-color);
    color: var(--fifth-color);
}
.color4{
    background-color: var(--fourth-color);
    color: var(--fifth-color);
}
.color5{
    background-color: var(--fifth-color);
    color: var(--first-color);
}
/* typography page */
.font1, h1{
    font-family: var(--primary-font);
}
.font2, p, ul li{
    font-family: var(--secondary-font);
}
.font3{
    font-family: var(--terciary-font);
}
.fonts{
    margin: 1rem;
}
/* target audience */
section h2{
    margin: 1rem;
}
section ul li{
    list-style: circle;
    margin: 1rem;
}

/* target audience */
.profileTarget{
    border: solid var(--first-color) 2px;
    box-shadow: 2px 2px var(--first-color);
    
}
/* nav burger */
.iconContainer{
    margin: 1rem;
    width: 3rem;
    font-size: 2rem;
}
/* .iconContainer span:nth-child(1){
    display: block;
}
.iconContainer span:nth-child(1).open{
    display: none;
}
.iconContainer span:nth-child(2){
    display: none
}
.iconContainer span:nth-child(2).open{
    display: block;
} */
.icon, .logo, .iconX{
    cursor: pointer;
}
.displayNone{
    display: none;
}
.smallhead{
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: ease 1s;
    background-color: black;
}
h1{
    margin-top: 0;
}
nav div h1{
    margin: 1rem 0 0 0;
}
.iconsContainer{
    display: flex;
    justify-content: center;;
}
.socialMediaContainerIcons{
    display: flex;
    max-width: 6rem;
    margin: auto;
    cursor: pointer;
}
.icon, .logo, .iconMedia{
transition: ease 1s;
}
.icon:hover, .logo:hover, .iconMedia:hover{
    transform: scale(.9);
    transition: ease .4s;
}
#dateHeader{
    background-color: #45414a;
    margin: .5rem 0 .4rem 0;
    padding: .3rem;
}
footer{
    display: flex;
    justify-content: space-around;
}
.firstSectionFooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.locationPinContainer{
    max-width: 2rem;
    display: flex;
    margin: .5rem 0 .5rem .5rem;
}
.locationPinContainer img{
    width: 1.5rem;
    height: 1.5rem;
}
.locationContainer{
    display: flex;
    margin-right: 0;
    justify-content: center;
}
.infoContainer{
    text-align: center;
    width: 100%;
}
.infoContainer p{
    margin: .5rem .5rem .5rem 0;
}
#personalInfo{
    text-align: center;
    margin: .3rem 0 1.5rem 0;
}
#currentDate{
    margin: 0;
}
/* main grid */
main div{
    margin: 1rem;
}
main{
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
}
.joinContainer{
    display: none;
}
.joinContainer{
    grid-area: joinContainer;
}
/* --------hero styles------- */
.heroContainer{
    padding: 0;
    margin: 0;
    position: relative;
    height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
}
.heroContainer img{
    min-width: 100%;
    opacity: .8;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.419);
}
.heroContainer h2{
    color: black;
    position: absolute;
    top: 5rem;
    left: 1rem;
    color: var(--first-color);
}
.btnJoin{
    font-size: .8rem;
    background-color: var(--third-color);
    color: var(--fifth-color);
    padding: .6rem;
    position: absolute;
    bottom: 1rem;
    right: .5rem;
    cursor: pointer;
    border: 1px solid var(--fifth-color);
    border-radius: 2rem;
    transition: all ease-in .5s;
}
.btnJoin:hover{
    transform: scale(1.005);
    transition: all ease-in .3s;
    background-color: var(--fifth-color);
    color: var(--first-color);
    border: solid 1px var(--first-color);
}
/* .eventContainer */

.eventContainer{
    background-color: var(--fifth-color);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
}
.eventContainer h3, .eventContainer a, .eventContainer h4{
    margin: .6rem;
}
.mainDivHeader{
    display: flex;
    margin-top: 0;
}
.banner{
    text-align: center;
    color: ivory;
    padding: 0;
    margin-top: .5rem;
}
/* ---------WEATHER SECTION ---------*/
.weatherContainer{
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--fourth-color);
    padding-top: 1rem;
    max-width: 100%;
}
.conditionsWeatherContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleImgWeatherContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.titleImgWeatherContainer p{
    font-size: 2rem;
    margin: 0;
}
.weatherImgContainer{
    width: 50%;
}
.weatherImgContainer img{
    max-width: 90%;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
}
.conditionsWeather{
    text-align: end;
    padding-right: 2rem;
    margin: 0;
}
.windConditions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.windConditions div{
    display: flex;
    justify-content: space-evenly;
}
/* .windConditions div{

} */
/* -------new release container ---------*/
.newReleaseContainer{
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}
.newReleaseContainer p{
    padding: 1rem 0 0 0;
}
/* --------.spotlight contrainer one ------*/
.spotlightsHolder{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    display: flex;
    padding: 1rem;
    text-align: center;
    background-color: var(--fourth-color);
}
.spotlightOneContainer, .spotlightTwoContainer, .spotlightThreeContainer{
    max-width: 100%;
    background-color: var(--fourth-color);
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
}
.spotlightOneContainer img{
    max-width: 100%;
    background-color: ivory;
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px 50px;
    padding: 1rem 1.5rem .5rem 1.5rem;
}
.spotlightTwoContainer img{
    max-width: 100%;
    background-color: var(--third-color);
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px 50px;
    padding: 1rem 1.5rem .5rem 1.5rem;
}
.spotlightOneContainer p, .spotlightTwoContainer p, .spotlightThreeContainer p{
    max-width: 100%;
    margin: .3rem;
}
.spotlightThreeContainer img{
    max-width: 100%;
    background-color: var(--third-color);
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px 50px;
    padding: 1rem 1.5rem .5rem 1.5rem;
    margin: 1rem
}
.spotLightImgContainer{
    width: 30%;
    padding: 0;
    margin: 0;

}
#thirdSpotContainer{
    display: none;
}
.titleImgWeatherContainer{
    width: 100%;
}
/*--------discover page---------- */
.mainDiscover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.sectionDiscoverContainer{
    margin: 1rem 1rem 1rem 0;
}
.discoverContainer{
    max-width: 100%;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
}
.imgDiscoverContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    transition: ease .7s;
}
.imgDiscoverContainer img{
    max-width: 100%;
    filter: blur(0em);
    transition: filter 1s;
    border-radius: 20px 90px;
    box-shadow: 2px 2px 5px black;
}
img[data-src] {
    filter: blur(0.2em);
}
.demographicsContainer h2{
    text-align: center;
    margin: 2rem 0;
}
.demographicsContainer p{
    margin: 1.5rem;
    line-height: 1.5rem;
}
.demographicsContainer ul{
    background-color: var(--fourth-color);
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bolder;
    line-height: 1.3rem;
}
.demographicsContainer li{
    margin: 1rem;
}
.sectionDiscoverContainer{
    text-align: center;
}
.sectionDiscoverContainer h3{
    font-size: 1.5rem;
}
div.discoverContainer div p{
    margin: 1rem 2rem 0 2rem;
    line-height: 1.3rem;
}
/* -------Form styles.------- */
.mainForm{
    display: grid;
    grid-template-columns: repeat(3, auto);
}
form{
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
form fieldset{
    color: var(--first-color);
    max-width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #3c374446;
    width: 100%;
}
form fieldset label{
    margin: .5rem;
    color: var(--first-color);
    margin: .8rem;
}
form fieldset label input{
    display: block;
    background-color: ivory;
    border: 1px solid #3c374429;
    border-radius: 1rem;
    height: 44px;
    padding: .4rem 1rem;
}
form fieldset label input:required{
    border: solid 2px rgba(255, 0, 0, 0.258)
}
form fieldset label input:required:valid{
    border: solid var(--fourth-color);
}
form fieldset label input:valid{
    border: solid var(--fourth-color);
}
.formButton{
    font-size: 1.2rem;
    height: 44px;
    cursor: pointer;
    border: 1px solid #3c374429;
    border-radius: 1rem;
    padding: 0 1rem;
    transition: .4s;
    background-color: var(--third-color);
    color: var(--fifth-color);
}
.formButton:hover{
    transform: scale(.99);
    transition: all ease-in .4s;
    background-color: var(--fifth-color);
    color: var(--first-color);
    border: solid 1px var(--first-color);
}
.membershipContainer label{
    display: flex;
    align-items: center;
    justify-content: center;

}
.membershipContainer label input{
    margin-right: 1rem;
}
.membershipContainer label textarea{
    overflow: hidden;
    background-color: ivory;
    border: 1px solid #3c374429;
    border-radius: 1rem;
    height: 44px;
    padding: .4rem 1rem;
    margin-top: 1rem;
}
.textareaLabel{
    display: flex;
    flex-direction: column;
    
}